#illustration {
    width: 50%;
    float: left;
    margin-top: 64px;
}

#title {
    font-family: Product Sans;
    font-size: 48px;
    font-weight: bold;
    margin: 32px 64px 32px 0px;
    text-align: center;
    color: #ED7D31;
}

#container {
    width: 50%;
    max-width: 50%;
    float: right;    
    font-family: 'PT Sans';
    font-size: 24px;
}

#form .form-group {
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    
}

#form .form-control {
    margin: 16px 0px 16px 0px;
    font-size: 24px;
    height: 48px;
    
}

#form .form-control:hover {
    box-shadow: 0px 0px 0px 5px rgba(237,125,49,0.2);
}

#form .form-control:focus {
    box-shadow: 0px 0px 0px 5px rgba(237,125,49,0.2);
    color: #000;
}

#register {
    margin: auto;
    margin-top: 64px;
    width: 100%;
    padding: 16px 0px 16px 0px;
    background-color: #ED7D31;
    outline: 0px;
    border: 0px;
    transition: 0.2s;
    font-size: 24px;
    font-weight: bold;
}

#register:hover {
    box-shadow: 0px 0px 0px 5px rgba(237,125,49,0.2);
    color: rgb(245, 231, 223);
}

#country { 
    margin: 16px 0px 16px 0px;
    font-size: 24px;
    height: 48px;
    
}

#country:hover {
    box-shadow: 0px 0px 0px 5px rgba(237,125,49,0.2);
}

#country:focus {
    box-shadow: 0px 0px 0px 5px rgba(237,125,49,0.2);
    color: #000;
}
}